In [31]:
import pandas as pd
import numpy as np

ferrets = pd.read_csv("omkar/omkar.csv", header = 21)
ferrets

,Time,Media file path,Total length,FPS,Subject,Behavior,Behavioral category,Modifier 1,Comment,Status
0,570.776,/Volumes/mmg-lakdawala-lab/Lakdawala_Lab_Users...,4380.03,29.97,Donor,Quadrant,Location,3,NaN,START
1,570.776,/Volumes/mmg-lakdawala-lab/Lakdawala_Lab_Users...,4380.03,29.97,Donor,Touching,Distance,Plush,NaN,START
2,571.091,/Volumes/mmg-lakdawala-lab/Lakdawala_Lab_Users...,4380.03,29.97,R1,Quadrant,Location,1,NaN,START
3,571.091,/Volumes/mmg-lakdawala-lab/Lakdawala_Lab_Users...,4380.03,29.97,R1,Touching,Distance,R2,NaN,START
4,572.128,/Volumes/mmg-lakdawala-lab/Lakdawala_Lab_Users...,4380.03,29.97,R1,Quadrant,Location,1,NaN,STOP
...,...,...,...,...,...,...,...,...,...,...
5303,4162.840,/Volumes/mmg-lakdawala-lab/Lakdawala_Lab_Users...,4380.03,29.97,R2,Quadrant,Location,2,NaN,STOP
5304,4162.840,/Volumes/mmg-lakdawala-lab/Lakdawala_Lab_Users...,4380.03,29.97,R2,Touching,Distance,Cat Tower Toy,NaN,STOP
5305,4163.298,/Volumes/mmg-lakdawala-lab/Lakdawala_Lab_Users...,4380.03,29.97,R1,Touching,Distance,Ball,NaN,STOP
5306,4173.130,/Volumes/mmg-lakdawala-lab/Lakdawala_Lab_Users...,4380.03,29.97,R4,Touching,Distance,Plush,NaN,STOP
5307,4183.136,/Volumes/mmg-lakdawala-lab/Lakdawala_Lab_Users...,4380.03,29.97,R1,Quadrant,Location,1,NaN,STOP

In [32]:
ferrets.head()

,Time,Media file path,Total length,FPS,Subject,Behavior,Behavioral category,Modifier 1,Comment,Status
0,570.776,/Volumes/mmg-lakdawala-lab/Lakdawala_Lab_Users...,4380.03,29.97,Donor,Quadrant,Location,3,NaN,START
1,570.776,/Volumes/mmg-lakdawala-lab/Lakdawala_Lab_Users...,4380.03,29.97,Donor,Touching,Distance,Plush,NaN,START
2,571.091,/Volumes/mmg-lakdawala-lab/Lakdawala_Lab_Users...,4380.03,29.97,R1,Quadrant,Location,1,NaN,START
3,571.091,/Volumes/mmg-lakdawala-lab/Lakdawala_Lab_Users...,4380.03,29.97,R1,Touching,Distance,R2,NaN,START
4,572.128,/Volumes/mmg-lakdawala-lab/Lakdawala_Lab_Users...,4380.03,29.97,R1,Quadrant,Location,1,NaN,STOP

In [33]:
ferrets['subject.behavior.modifier'] = ferrets['Subject'] + ferrets["Behavior"] + ferrets["Modifier 1"]

In [76]:
output = pd.DataFrame(columns = ["Subject", "Behavior", "Behavioral category", "Modifier", "Comment", "Start_Time", "End_Time", "Duration"])

for combination_key in pd.unique(ferrets['subject.behavior.modifier']):

    tmp = ferrets[ferrets['subject.behavior.modifier'] ==  combination_key]

    for i, g in tmp.groupby(np.arange(len(tmp)) // 2):
        #print(g["Subject"].iloc[0])
        tmp_dict = {
            'Subject': g["Subject"].iloc[0],
            'Behavior': g["Behavior"].iloc[0],
            'Behavioral category': g["Behavioral category"].iloc[0],
            'Modifier': g["Modifier 1"].iloc[0],
            'Comment': str(g["Comment"].iloc[0]) + str(g["Comment"].iloc[1]),
            'Start_Time': g["Time"].iloc[0],
            'End_Time': g["Time"].iloc[1],
            'Duration': g["Time"].iloc[1] - g["Time"].iloc[0]
        }   
        dct = {k:[v] for k,v in tmp_dict.items()} 
        output = pd.concat([output, pd.DataFrame(dct)], ignore_index = True)
        
output

,Subject,Behavior,Behavioral category,Modifier,Comment,Start_Time,End_Time,Duration
0,Donor,Quadrant,Location,3,nannan,570.776,609.270,38.494
1,Donor,Quadrant,Location,3,nannan,614.035,622.532,8.497
2,Donor,Quadrant,Location,3,nannan,634.275,665.022,30.747
3,Donor,Quadrant,Location,3,nannan,672.518,692.028,19.510
4,Donor,Quadrant,Location,3,nannan,711.692,780.174,68.482
...,...,...,...,...,...,...,...,...
2647,R3,Chase,Interaction,Donor,nannan,3638.784,3646.595,7.811
2648,R4,Touching,Distance,"R3,Plush",nannan,3665.275,3667.275,2.000
2649,Donor,Touching,Distance,"R1,Robot",nannan,3858.838,3868.589,9.751
2650,Donor,Touching,Distance,"R3,R4,Robot",nannan,3868.590,3878.597,10.007
2651,R1,Lick/Groom,Interaction,R4,nannan,3948.048,3955.541,7.493

In [83]:
x = set(ferrets["Time"])
y = set(output["Start_Time"]).union(set(output["End_Time"]))
z = x.difference(y)
z

{761.171, 761.673, 1066.082}

In [126]:
output.head(100)

,Subject,Behavior,Behavioral category,Modifier,Comment,Start_Time,End_Time,Duration
0,Donor,Quadrant,Location,3,nannan,570.776,609.270,38.494
1,Donor,Quadrant,Location,3,nannan,614.035,622.532,8.497
2,Donor,Quadrant,Location,3,nannan,634.275,665.022,30.747
3,Donor,Quadrant,Location,3,nannan,672.518,692.028,19.510
4,Donor,Quadrant,Location,3,nannan,711.692,780.174,68.482
...,...,...,...,...,...,...,...,...
95,R1,Quadrant,Location,1,nannan,1380.872,1467.389,86.517
96,R1,Quadrant,Location,1,nannan,1523.976,1534.398,10.422
97,R1,Quadrant,Location,1,nannan,1537.905,1547.064,9.159
98,R1,Quadrant,Location,1,nannan,1590.512,1686.015,95.503
99,R1,Quadrant,Location,1,nannan,1696.018,1708.765,12.747

In [103]:
#ferrets[ferrets["Time"] == 1066.082]
ferrets[(ferrets["Subject"] == "R1") & (ferrets["Modifier 1"].isnull())]

,Time,Media file path,Total length,FPS,Subject,Behavior,Behavioral category,Modifier 1,Comment,Status,subject.behavior.modifier
1035,1066.082,/Volumes/mmg-lakdawala-lab/Lakdawala_Lab_Users...,4380.03,29.97,R1,Quadrant,Location,NaN,NaN,START,NaN
1296,1196.387,/Volumes/mmg-lakdawala-lab/Lakdawala_Lab_Users...,4380.03,29.97,R1,Quadrant,Location,NaN,NaN,STOP,NaN

In [104]:
output[output["End_Time"] == 1196.387]

,Subject,Behavior,Behavioral category,Modifier,Comment,Start_Time,End_Time,Duration
2269,R1,Touching,Distance,R3,nannan,1068.022,1196.387,128.365

In [115]:
keys = np.array(pd.unique(ferrets['subject.behavior.modifier']))
keys = keys.astype(str)
sorted(keys)

['DonorBite/ChewKeys',
 'DonorChaseR2',
 'DonorChaseR3',
 'DonorChaseR4',
 'DonorQuadrant0',
 'DonorQuadrant1',
 'DonorQuadrant2',
 'DonorQuadrant3',
 'DonorSnuggleNone',
 'DonorSnuggleR1',
 'DonorSnuggleR2',
 'DonorSnuggleR3',
 'DonorSnuggleR3,R3,R3',
 'DonorSnuggleR4',
 'DonorTouchingBall',
 'DonorTouchingCat Tower Toy',
 'DonorTouchingCups',
 'DonorTouchingCups,Keys',
 'DonorTouchingKeys',
 'DonorTouchingPen Walls',
 'DonorTouchingPlush',
 'DonorTouchingR1',
 'DonorTouchingR1,Cat Tower Toy',
 'DonorTouchingR1,Plush',
 'DonorTouchingR1,R2',
 'DonorTouchingR1,R2,R4',
 'DonorTouchingR1,R3',
 'DonorTouchingR1,R4,Pen Walls',
 'DonorTouchingR1,Robot',
 'DonorTouchingR2',
 'DonorTouchingR2,Cat Tower Toy',
 'DonorTouchingR2,R3',
 'DonorTouchingR2,R4,Cat Tower Toy',
 'DonorTouchingR2,Robot',
 'DonorTouchingR3',
 'DonorTouchingR3,Plush',
 'DonorTouchingR3,R4',
 'DonorTouchingR3,R4,Cat Tower Toy',
 'DonorTouchingR3,R4,Robot',
 'DonorTouchingR3,Robot',
 'DonorTouchingR4',
 'DonorTouchingR4,Cat Tower Toy',
 'DonorTouchingR4,Plush',
 'DonorTouchingR4,Robot',
 'DonorTouchingRobot',
 'R1Bite/ChewCups',
 'R1Bite/ChewPlush',
 'R1ChaseR2',
 'R1ChaseR4',
 'R1DigPen Walls',
 'R1Lick/GroomR4',
 'R1Quadrant0',
 'R1Quadrant1',
 'R1Quadrant2',
 'R1Quadrant3',
 'R1SnuggleDonor',
 'R1SnuggleR2',
 'R1SnuggleR3',
 'R1SnuggleR4',
 'R1TouchingBall',
 'R1TouchingCat Tower Toy',
 'R1TouchingCups',
 'R1TouchingDonor',
 'R1TouchingDonor,Keys',
 'R1TouchingDonor,R2,R4',
 'R1TouchingDonor,R4',
 'R1TouchingKeys',
 'R1TouchingPen Walls',
 'R1TouchingPlush',
 'R1TouchingR2',
 'R1TouchingR2,Cat Tower Toy',
 'R1TouchingR2,Pen Walls',
 'R1TouchingR2,R3',
 'R1TouchingR2,R4',
 'R1TouchingR3',
 'R1TouchingR3,R4',
 'R1TouchingR3,Robot',
 'R1TouchingR4',
 'R1TouchingR4,Ball',
 'R1TouchingRobot',
 'R2Bite/ChewCat Tower Toy',
 'R2Bite/ChewPlush',
 'R2ChaseR1',
 'R2DigPen Walls',
 'R2Lick/GroomDonor',
 'R2Lick/GroomR4',
 'R2Quadrant0',
 'R2Quadrant1',
 'R2Quadrant2',
 'R2Quadrant3',
 'R2SnuggleDonor',
 'R2SnuggleR1',
 'R2SnuggleR3',
 'R2SnuggleR4',
 'R2TouchingBall',
 'R2TouchingCat Tower Toy',
 'R2TouchingCups',
 'R2TouchingDonor',
 'R2TouchingDonor,Plush',
 'R2TouchingDonor,R1,R4',
 'R2TouchingDonor,R4,Pen Walls',
 'R2TouchingDonor,Robot',
 'R2TouchingKeys',
 'R2TouchingPen Walls',
 'R2TouchingPlush',
 'R2TouchingR1',
 'R2TouchingR1,R3',
 'R2TouchingR1,Robot',
 'R2TouchingR3',
 'R2TouchingR3,Plush',
 'R2TouchingR4',
 'R2TouchingR4,Pen Walls',
 'R2TouchingRobot',
 'R3ChaseDonor',
 'R3ChaseR1',
 'R3DigPen Walls',
 'R3Lick/GroomDonor',
 'R3Quadrant0',
 'R3Quadrant1',
 'R3Quadrant2',
 'R3Quadrant3',
 'R3SnuggleDonor',
 'R3SnuggleDonor,R4',
 'R3SnuggleR1',
 'R3SnuggleR2',
 'R3SnuggleR4',
 'R3TouchingBall',
 'R3TouchingCat Tower Toy',
 'R3TouchingCups',
 'R3TouchingDonor',
 'R3TouchingDonor,Cat Tower Toy',
 'R3TouchingDonor,R1',
 'R3TouchingDonor,R1,R4',
 'R3TouchingDonor,R4',
 'R3TouchingKeys',
 'R3TouchingPen Walls',
 'R3TouchingPlush',
 'R3TouchingR1',
 'R3TouchingR1,Pen Walls',
 'R3TouchingR1,R2',
 'R3TouchingR1,Robot',
 'R3TouchingR2',
 'R3TouchingR2,Pen Walls',
 'R3TouchingR2,R4',
 'R3TouchingR4',
 'R3TouchingR4,Pen Walls',
 'R3TouchingR4,Plush',
 'R3TouchingRobot',
 'R4Bite/ChewKeys',
 'R4Bite/ChewPlush',
 'R4ChaseDonor',
 'R4ChaseR1',
 'R4DigPen Walls',
 'R4Lick/GroomDonor',
 'R4Lick/GroomR2',
 'R4Quadrant0',
 'R4Quadrant1',
 'R4Quadrant2',
 'R4Quadrant3',
 'R4SnuggleDonor',
 'R4SnuggleNone',
 'R4SnuggleR1',
 'R4SnuggleR1,R2,R2',
 'R4SnuggleR2',
 'R4SnuggleR3',
 'R4SnuggleR4',
 'R4TouchingBall',
 'R4TouchingBall,Cups',
 'R4TouchingCat Tower Toy',
 'R4TouchingCups',
 'R4TouchingDonor',
 'R4TouchingDonor,R1',
 'R4TouchingDonor,R1,R2',
 'R4TouchingDonor,R1,R3',
 'R4TouchingDonor,R2,Cat Tower Toy',
 'R4TouchingDonor,R3',
 'R4TouchingKeys',
 'R4TouchingPen Walls',
 'R4TouchingPlush',
 'R4TouchingR1',
 'R4TouchingR1,Pen Walls',
 'R4TouchingR1,Plush',
 'R4TouchingR1,R2',
 'R4TouchingR1,R3',
 'R4TouchingR2',
 'R4TouchingR2,Plush',
 'R4TouchingR3',
 'R4TouchingR3,Plush',
 'R4TouchingRobot',
 'nan']

In [123]:
ferrets[ferrets['subject.behavior.modifier'] == "DonorTouchingR4,Plush"]

,Time,Media file path,Total length,FPS,Subject,Behavior,Behavioral category,Modifier 1,Comment,Status,subject.behavior.modifier
27,583.097,/Volumes/mmg-lakdawala-lab/Lakdawala_Lab_Users...,4380.03,29.97,Donor,Touching,Distance,"R4,Plush",NaN,START,"DonorTouchingR4,Plush"
1256,1172.627,/Volumes/mmg-lakdawala-lab/Lakdawala_Lab_Users...,4380.03,29.97,Donor,Touching,Distance,"R4,Plush",NaN,STOP,"DonorTouchingR4,Plush"
1267,1176.624,/Volumes/mmg-lakdawala-lab/Lakdawala_Lab_Users...,4380.03,29.97,Donor,Touching,Distance,"R4,Plush",NaN,START,"DonorTouchingR4,Plush"
2279,1829.532,/Volumes/mmg-lakdawala-lab/Lakdawala_Lab_Users...,4380.03,29.97,Donor,Touching,Distance,"R4,Plush",NaN,STOP,"DonorTouchingR4,Plush"

In [120]:
output.to_csv("Belsur_cleaned.csv")

In [133]:
output.sort_values(by=['Start_Time']).head(20)

,Subject,Behavior,Behavioral category,Modifier,Comment,Start_Time,End_Time,Duration
0,Donor,Quadrant,Location,3,nannan,570.776,609.270,38.494
48,Donor,Touching,Distance,Plush,nannan,570.776,583.096,12.320
130,R1,Touching,Distance,R2,nannan,571.091,575.591,4.500
81,R1,Quadrant,Location,1,nannan,571.091,572.128,1.037
151,R2,Quadrant,Location,1,nannan,572.966,575.640,2.674
223,R2,Touching,Distance,R1,nannan,572.966,575.640,2.674
245,R4,Quadrant,Location,3,nannan,573.101,586.824,13.723
304,R3,Quadrant,Location,2,nannan,573.825,585.563,11.738
360,R3,Touching,Distance,Robot,nannan,573.825,581.338,7.513
390,R1,Quadrant,Location,2,nannan,574.591,593.574,18.983
440,R4,Touching,Distance,Donor,nannan,575.586,581.589,6.003
484,R2,Quadrant,Location,2,nannan,575.641,587.832,12.191
550,R2,Touching,Distance,Robot,nannan,575.641,579.120,3.479
577,R1,Touching,Distance,Robot,nannan,580.086,581.088,1.002
600,R2,Snuggle,Interaction,R3,nannan,580.609,582.592,1.983
603,R3,Touching,Distance,R2,nannan,581.339,585.564,4.225
625,R2,Touching,Distance,R3,nannan,582.592,586.332,3.740
644,Donor,Touching,Distance,"R4,Plush",nannan,583.097,1172.627,589.530
441,R4,Touching,Distance,Donor,nannan,583.103,607.111,24.008
131,R1,Touching,Distance,R2,nannan,585.073,595.073,10.000